#root {
  text-align: center;
}
body {
  margin: 0;
  padding-top: 64px; /* Height of top AppBar */
  background-color: #fcf0c8;
}

/* Removes increment and decrement arrows from number TextView */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
